@charset "utf-8";

.title {
    margin-top: 32px;
    margin-left: 256px;
    margin-bottom: 32px;
    text-decoration: underline 1px;
    font-size: 32px;
    font-weight: bold;
    color: #3073D7;
    font-family: Zen Kaku Gothic New;
}

.text-center {
    margin-top: 32px;
    color: #3073D7;
    font-family: Zen Kaku Gothic New;
}

