@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.page-title {
    width: 90%;
    margin: 0 auto;
}

h1 {
    font-size: 32px;
    text-align: left;
    padding-left: 16px;
}

.page-title .under-line {
    width: 50%;
    border-top: 3px solid #3073D7;
    margin-bottom: 24px;
}

#editors {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.editor-item {
    width: 42%;
    background-color: #afafaf;
    margin-bottom: 24px;
    padding: 24px 40px;
}

.editor-item img {
    width: 26%;
    padding-top: 26%;
    background-color: beige;
}

.editor-info {
    width: 68%;
    background-color: aqua;
}

.editor-item table {
    text-align: left;
}

.one-word {
    display: block;
    background-color: rgb(253, 117, 117);
    height: 58px;
    margin-top: 24px;
    padding: 16px 24px;
    font-size: 14px;
}