@charset "utf-8";

body {
    font-family: "Zen Kaku Gothic New", sans-serif;
}

header{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 64px;
    background-color: #007bff;
    color: #fff ;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.web-title{
    text-decoration: none;
    color: #fff;
    font-size: 24pt;
    font-weight: 600;
    margin-left: 64px;
}

.web-title:hover, nav a:hover{
    text-decoration: underline;
}

nav a{
    margin: 0 16px;

    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

.weight-bold {
    font-weight: bold;
}

footer {
    background-color: #e1f1f5;
    padding: 32px 5% 24px 5%;
}

footer h3 {
    font-size: 28px;
}

footer .content-links {
    display: flex;
    flex-direction: row;
}

footer a {
    color: #000;
}

footer nav {
    gap: 32px;
}

footer p {
    display: block;
    text-align: center;
}

footer ul li {
    list-style: none;
    margin-top: 8px;
}

footer ul li a {
    font-size: 14px;
}

.copyright {
    margin-top: 64px;
}

a {
    cursor: pointer;
}