@charset "utf-8";

header{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 64px;
    background-color: #007bff;
    color: #fff ;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.web-title{
    text-decoration: none;
    color: #fff;
    font-size: 24pt;
    font-weight: 600;
    margin-left: 64px;
}

.web-title:hover, nav a:hover{
    text-decoration: underline;
}

nav a{
    margin: 0 16px;

    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}